.campo{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ataque{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.meio{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.defesa{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}